<form nz-form #loginDetailForm="ngForm" (ngSubmit)="submit()" role="form">
  <nz-tabset [nzAnimated]="false" class="tabs">
    <nz-tab [nzTitle]="'账户密码登录'">
      <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入用户名！">
          <nz-input-group nzSize="large" nzPrefixIcon="user">
            <!-- <input nz-input formControlName="userName" placeholder="用户名" /> -->
            <input
              #account="ngModel"
              autocomplete="off"
              nz-input
              [(ngModel)]="userLoginInfoDTO.account"
              name="account"
              placeholder="用户名"
              required
            />
          </nz-input-group>
          <!-- <nz-form-explain *ngIf="account.dirty && account.errors"> 请输入用户名！ </nz-form-explain> -->
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入密码！">
          <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <!-- <input nz-input type="password" formControlName="password" placeholder="密码" /> -->
            <input
              #password="ngModel"
              autocomplete="off"
              nz-input
              type="password"
              [(ngModel)]="userLoginInfoDTO.password"
              name="password"
              placeholder="密码"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabset>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox [(ngModel)]="rememberMe" name="rememberMe">记住我</label>
    </nz-col>
    <nz-col [nzSpan]="12" class="text-right">
      <a class="forgot" routerLink="/passport/register">忘记密码</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock>登录</button>
  </nz-form-item>
</form>
<div class="other">
  <a class="register" routerLink="/passport/register">注册账户</a>
</div>
